.Header {
  text-align: center;
  background-image: url("../../assets/images/header.jpg");
  background-size: cover;
  font-family: 'Raleway';
}
.Header-logo {
  animation: App-logo-shake infinite 5s alternate;
  height: 80px;
  filter: invert(100%);
}
.Header-header {
 
  height: 180px;
  padding: 30px;
  color: white;
  border-bottom: 10px double #fff;
}


.Header-title-h1 {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  --borderWrap: 1px;
  font-family: 'Quicksand';
  font-size: 2.7em;
  top: 10px;
  border: var(--borderWrap) solid #fff;
  width: 25vw;
  min-width: 220px;
  
}

@keyframes Header-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes Header-logo-shake {
  from { transform: rotate(0deg); }
  to { transform: rotate(100deg); }
}